body {
    margin: 60px auto;
    width: 50%;
    background-color: #c79288;
}

nav ul, footer ul {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    color: #FFFFFF;
}
p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #FFFFFF;
}

ul.custom {
    color: #FFFFFF;
    padding: 0px;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1.0em;
  margin-left: 10;
  margin-right: 0;
  padding-left: 400px;
  color: #FFFFFF;
  font-size: 1.0em;   
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}    

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
    color: #FFFFFF;

}

ul.posts li {
   display: inline;
   color: #FFFFFF;
}
