<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style = "font-size:50px"><a href="/">Amanda Tu</a></li>
		        	<li><a href="/about">about</a></li>
				<li><a href="/projects">projects</a></li>
				<li><a href="/photos">photos</a></li>	        		

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tu.amandaa@gmail.com">get in touch</a></li>
	        		<li><a href="https://www.linkedin.com/in/amanda-tu/">connect</a></li>
				<li><a href="https://www.github.com/amanda-t2">github</a></li>

				</ul>
			</footer>
		</body>
	</html>
